* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    box-sizing: border-box;
    /*cursor: default;*/
    /*cursor: url(/static/images/cursor/default.cur),default !important ;*/
}

/*cursor:default cursor: url(/static/images/cursor/default.cur), default;*/

a {
    text-decoration: none;
    color: #524848;
}

body {
    background: #f6f6f6 url(/static/images/bg.gif);
    overflow-x: auto;
}

.nav {
    position: relative;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #E5E7E3;
    box-shadow: 2px 2px 2px 2px #D5D7D3;
    display: flex;
    align-items: center;
}

.user-name {
    font-size: 20px;
}

.user .user-menu {
    display: none;
    position: absolute;
    width: 15em;
    right: 0;
    top: 80px;
    overflow: hidden;
    z-index: 999;
    text-align: center;
    color: #6c757d;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user .user-menu .ops a {
    color: #6c757d !important;
    display: inline-block;
    width: 7em;
    margin-top: .4em;
    margin-bottom: .4em;
}

.user .user-menu .ops svg {
    width: 1.2em;
}

.user-photo {
    border: 3px solid rgb(199, 199, 199);
    border-radius: 50%;
    display: inline-block;
    height: 71px;
    width: 71px;
}

.user-photo img {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: auto;
    vertical-align: top;
}

.user .user-menu footer {
    padding: .6em;
    font-size: .9em;
    margin-top: -.2em;
}

.user .user-menu footer a {
    color: #6c757d;
}

.user .user-menu footer a svg {
    width: 0.875em;
}

.user {
    margin: auto;
    bottom: 0;
    top: 0;
    position: relative;
    right: 5px;
    height: 70px;
    text-align: center;
    line-height: 45px;
    cursor: default;
    display: flex;
    align-items: center;
}

.user .oper {
    position: relative;
    height: 100%;
    width: 100px;
    display: inline-block;
}

.user>a {
    margin: 0 10px;
    line-height: 1;
    position: relative;
}

.user .oper div {
    color: black;
    position: absolute;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.user .oper a {
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

.nav .bar {
    margin: auto;
    bottom: 0;
    top: 0;
    position: relative;
    min-width: 100px;
    width: 600px;
    height: 45px;
    line-height: 45px;
    cursor: default;
    text-align: left;
}

.nav .bar div {
    /*text-align: center;*/
    position: relative;
    font-size: 20px;
    display: inline-block;
    margin: 2.5px 20px;
    height: 40px;
    width: 80px;
    cursor: default;
}

.nav .bar div:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 2.5px solid red;
    transition: width 0.3s ease-in;
}

.nav .bar div:hover:before {
    width: 80px;
}

.nav .bar div a {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
}

.nav #icon {
    width: 72px;
    height: 72px;
    cursor: pointer;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto 10px;
    left: 15px;
    position: relative;
}

.container {
    min-height: 600px;
    width: 100%;
    position: relative;
    margin: 50px 0;
}

.tail {
    min-height: 30px;
    margin-bottom: 10px;
    background-color: white;
    padding-top: 15px;
    width: 100%;
    position: relative;
    font-size: 12px;
    top: 0;
    left: 0;
    text-align: center;
    color: black;
}


.tail .links {
    position: relative;
    width: 200px;
    height: 84px;
    margin: 15px 0 15px 100px;
    text-align: left;
    padding-left: 10px;
}

.tail .links p {
    font-weight: bold;
    font-size: 14px;
    margin-left: -10px;
}

.tail .links div a {
    display: block;
    width: 100%;
    height: 14px;
    line-height: 14px;
}

.tail .links div {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 84px;
    vertical-align: top;
}

.clear {
    clear: both !important;
}

.svg-inline {
    overflow: visible;
    width: 1.3em;
    display: inline-block;
    font-size: inherit;
    height: 1.3em;
    overflow: visible;
}

/* */
.bar-chat .after {
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    border-radius: 8px;
    background-color: red;
    position: absolute;
    top: -5px;
    right: -7px;
}

.bar-chat .after::before {
    content: attr(data-count);
}

.bar-chat .after[data-count="99+"] {
    width: 24px;
    right: -11px;
}

.templates {
    display: none !important;
}