.form .input .input-title {
    display: block;
    position: absolute;
    height: 100%;
    font-size: 20px;
    width: 100%;
    line-height: 40px;
    padding-left: 5%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.form .tips {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: gray;
    height: 18px;
    line-height: 18px;
}

.form .tips::before {
    content: '';
    display: inline-block;
    line-height: 18px;
    width: 16px;
    height: 16px;
    background: url(/static/images/icon.png) no-repeat;
    background-size: 600% 1100%;
}

.form .tips.judge::before {
    background-position: 0% 30%;
}

.form .tips.tip::before {
    background-position: 40% 10%;
}

.form .input .input-title::before {
    content: attr(data-text);
    background-color: #fff;
    padding: 0 .5em;
}

.form .input:first-child {
    margin-top: 0;
}

.form .input {
    border: 3.5px solid #856d72;
    margin: 20px auto 0;
    height: 50px;
    position: relative;
    background-color: #fff;
}

.form .input-password .show {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    background: url(/static/images/icon.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 600% 1100%;
    background-position: 20% 0%;
    cursor: pointer;
}

.form .input-password .show.select {
    background-position: 0% 0%;
}

@media screen and (min-width:960px) {

    .form .input-state {
        width: 32px;
        height: 32px;
        position: absolute;
        right: -50px;
        top: 9px;
    }

    .form .input-state::before {
        content: '';
        display: none;
        height: 100%;
        width: 100%;
        background: url(/static/images/icon.png) no-repeat;
        background-size: 600% 1100%;
    }

    .form .input-state.wrong::before {
        display: inline-block;
        background-position: 60% 20%;
    }

    .form .input-state.right::before {
        display: inline-block;
        background-position: 20% 30%;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .form .input-state.checking::before {
        display: inline-block;
        background: none;
        display: block;
        margin: auto;
        height: 20px;
        width: 20px;
        border: 2.5px solid #3498db;
        border-top: 2.5px solid #f3f3f3;
        border-radius: 50%;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }

    .form .tips,
    .form .input,
    .form .submit {
        width: 75%;
    }

    .form .input.verify input[type=tel] {
        letter-spacing: 1em;
        padding-left: 1em;
    }
}

@media screen and (max-width:600px) {

    .form .tips,
    .form .input,
    .form .submit {
        width: 90%;
    }

    .form .input.verify input[type=tel] {
        letter-spacing: .5em;
        padding-left: .5em;
    }

    .form .input-state {
        width: 16px;
        height: 16px;
        position: absolute;
        left: -10.5px;
        top: -10.5px;
        border-radius: 50%;
    }

    .form .input-state.wrong,
    .form .input-state.checking,
    .form .input-state.right {
        background: white;
    }

    .form .input-state::before {
        content: '';
        display: none;
        height: 100%;
        width: 100%;
        background: url(/static/images/icon.png) no-repeat;
        background-size: 600% 1100%;
    }

    .form .input-state.wrong::before {
        display: inline-block;
        background-position: 60% 20%;
    }

    .form .input-state.right::before {
        display: inline-block;
        background-position: 20% 30%;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .form .input-state.checking::before {
        display: inline-block;
        background: none;
        display: block;
        margin: auto;
        height: 10px;
        width: 10px;
        border: 1.25px solid #3498db;
        border-top: 1.25px solid #f3f3f3;
        border-radius: 50%;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }
}

.form input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    font-size: 20px;
    box-sizing: border-box;
}

.form .input.verify {
    display: flex;
}

.form .input.verify .get {
    flex: 1;
}

.form .input.verify input[type=tel] {
    -moz-appearance: textfield;
    padding: 0 15px;
    text-align: center;
    flex: 1;
}

.form .input.verify input::-webkit-outer-spin-button,
.form .input.verify input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    appearance: none !important;
}

.form input[type=text],
.form input[type=password] {
    padding-left: 15px;
}

.form .submit {
    display: block;
    border: 3.5px solid #856d72;
    margin: 20px auto 10px;
    height: 50px;
    position: relative;
    background-color: #fff;
    text-align: center;
}

.form .submit:hover,
.form input[type=button]:hover {
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    -o-filter: brightness(1.3);
    -ms-filter: brightness(1.3);
}

.form .submit[disabled]:hover {
    -webkit-filter: brightness(1);
    -moz-filter: brightness(1);
    -o-filter: brightness(1);
    -ms-filter: brightness(1);
}