{% extends "layout/m.html" %}

{% block title %}错误页面{% endblock %}

{% block css %}
<style>
    .error {
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .error p {
        margin: auto;
        font-size: 3.6rem;
        left: 0;
        right: 0;
        top: 0;
    }
    .error .sign {
        font-size: 1.4rem;
    }
    .error .sign em {
        font-style: normal;
    }
    .error .small {
        font-size: 2.2rem;
        color: grey;
    }
    .error a {
        display: block;
        color: blue;
    }
</style>
{% endblock %}

{% block mdv %}
<div class="error">
    <!-- <img src="{{errorimg}}" /> -->
    <p>
        {{error|safe}}
    </p>
    <p class="small">
        这里是主站所带有的错误页面，如果您访问的是分站（例如/c18），请向左滑动；如果您使用的是手机软件版，请点击这里回到分站
        <a href="/c18/m">南雅中学C1818班</a>
    </p>
    <p class="small">
        Here is the error page of the main station. If you are visiting a sub station (such as / C18), please slide to the left; If you are using the mobile software version, please click here to return to the substation
        <a href="/c18/m">Class 1818, Nanya middle school</a>
    </p>
    <!--<p class="sign">即将返回主页(<em>3</em>)</p>
    <script>
    var t=3;
    setInterval(function(){
    t--;
    $(".error p em").text(t);
    if(t==0){
    window.location.href="/";
    }
    },1000);
    </script>-->
</div>
{% endblock %}