{% extends "layout/pc.html" %}

{% block title %}重置成功{% endblock %}

{% block css %}
<style>
    .success{
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .success p{
        margin: auto;
        font-size: 72px;
        left: 0;
        right: 0;
        top: 0;
    }
    .success .sign{
        font-size: 16px;
    }
    .success .sign em{
        font-style:normal;
    }
</style>
{% endblock %}

{% block mdv %}
<div class="success">
    <p>重置成功！</p>
    <p class="sign">即将返回登录(<em>3</em>)</p>
    <script>
        var t=3;
        setInterval(function(){
            t--;
            $(".success p em").text(t);
            if(t==0){
                window.location.href="/login";
            }
        },1000);
    </script>
</div>
{% endblock %}