{% extends "layout/m.html" %}

{% block title %}激活{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/login/css/qq/new.css" />
<link rel="stylesheet" href="/static/utils/form/main.css" />
{% endblock %}

{% block mdv %}
<script src='/static/login/js/qq/new.js'></script>
<script src="/static/utils/form/main.js"></script>
<form class="box form" method='post', action='/login/qq/new'>
    <p class="title">为你的QQ账户绑定一个用户名</p>
    <input type='text' value='{{key}}' readonly name='key'/>
    <div>
        <p><i class="fas fa-info"></i>如果已有账号请到设置中绑定QQ</p>
        <div class='input input-text' data-text="用户名" data-name='user' id='user'> </div>
        <p class="tip"></p>
    </div>
    <input type="submit" class='submit' value='确定' disabled='disabled'>
</form>
{% endblock %}