{% import 'macro/m.html' as macro with context %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}Sakuyark{% endblock %}</title>
    <link rel=icon href="/static/images/favicon.ico" />
    {{ macro.js_css(index_js='/static/js/m.js')}}
    {% block css %} {% endblock %}
</head>

<body>
    {{macro.nav()}}
    <div class="container">
        {% block mdv %}<a href="/c18/m">南雅·初1818班</a>{% endblock %}
    </div>
    <div class="templates">
        {% block templates %} {% endblock %}
    </div>
</body>

</html>