{% macro js_css(js="/static/layout/js/m.js", css="/static/layout/css/m.css") %}
<link rel="stylesheet" href="/static/macro/css/main/m.css">
<link rel="stylesheet" href="{{css}}">
<link rel="stylesheet" href="/static/css/jquery.Jcrop.css">
<link rel="stylesheet" href="/static/css/canvi.css">
<script src="/static/jquery/jquery-1.6.2.min.js"></script>
<script src="/static/jquery/jquery-1.8.3.min.js"></script>
<script src="/static/jquery/jquery-3.4.0.min.js"></script>
<script src="/static/jquery/jquery.cookie.min.js"></script>

<script src="{{js}}"></script>
<script src="/static/macro/js/main/m.js"></script>
<script src="/static/js/canvi.js"></script>
<script src="/static/js/jquery/jquery.Jcrop.js"></script>
<link rel="stylesheet" href="/static/utils/popup/main.css">
<script src="/static/utils/popup/main.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
{% endmacro %}

{% macro nav(
links=[
('首页', '/'),
('公告', '/notice'),
('关于我们', '/about')
]
) %}
<div class="nav">
    <div class="user">
        <div class="user-photo"></div>
        <div class="uinfo">
            <a class="user-name" href="/login">登录</a>
            <div class="user-ops">
                <a href="/user/settings">修改信息</a>
            </div>
        </div>
    </div>
    {% for i in links %}
    <a class='item' href="{{i[1]}}">{{i[0]}}</a>
    {% endfor %}
</div>
<div class="layout"></div>
<div class="bar">
    <button class="open-nav">
        <svg viewBox="0 0 18 18">
            <path d="M2 13.5h14V12H2v1.5zm0-4h14V8H2v1.5zM2 4v1.5h14V4H2z"></path>
        </svg>
    </button>
    <div>
        <a href="/chat" class="bar-chat">
            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline">
                <path fill="currentColor"
                    d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
                </path>
            </svg>
        </a>
    </div>
</div>
{% endmacro %}